<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConfigEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ConfigEditor.Properties.Settings>
            <setting name="address" serializeAs="String">
                <value>irc.livedoor.ne.jp</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>6664</value>
            </setting>
            <setting name="channel" serializeAs="String">
                <value>#cookie_channel</value>
            </setting>
            <setting name="nickname" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="hookkey" serializeAs="String">
                <value>j</value>
            </setting>
            <setting name="hooksound" serializeAs="String">
                <value>piyo</value>
            </setting>
            <setting name="volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="bgm" serializeAs="String">
                <value>true</value>
            </setting>
        </ConfigEditor.Properties.Settings>
    </userSettings>
</configuration>